In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [7]:
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [9]:
unique_dates=df['Age'].unique()
print(unique_dates)

[25 30 35 28]

In [10]:
high_above_102=df[df['Age']>25]
print(high_above_102)

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [11]:
df.to_csv('trading_data.csv',index=False)